# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Django local files
db.sqlite3
media/
staticfiles/

# Virtual environment
.venv/
venv/
env/

# Environment variables / secrets
.env

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db